
<div class="container">
    
    <div class="tooltab-container">
        <mat-tab-group (selectedTabChange)="tabChangeHandler($event)">

            <mat-tab *ngFor="let item of toolGroups" label={{item.groupLabel}} ></mat-tab>

            <!-- <mat-tab label="Input"></mat-tab>
            <mat-tab label="Transform"></mat-tab>
            <mat-tab label="Output"></mat-tab> -->
        </mat-tab-group>
    </div>

    <div class="tool-container">
        <div class="tool" *ngFor="let item of selectedToolGroup.tools">
            <tool [toolName]="item.toolName" [styleObj]="item.style"></tool>
        </div>
    </div>

</div>